@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-background text-text transition-colors duration-300;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.dark .glass {
  background: rgba(33, 37, 41, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

html {
  scroll-behavior: smooth;
}
